<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
<div class="menu_user">
    <div class="wrap">
        <ul>
            <li class="log">Пользователь: {{ user.username }}</li>
            <li>
                <form action="{% url 'logoutuser' %}" method="post">
                    {% csrf_token %}
                    <button class="top">Exit</button>
                </form></li>

        </ul>
   </div>
</div>
{% else %}
<div class="menu_user">
    <div class="wrap">
        <ul>
            <li><a href="{% url 'signupuser' %}">Registration</a></li>
            <li><a href="{% url 'loginuser' %}">Enter</a></li>
        </ul>
    </div>
</div>
{% endif %}
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'skills/logo.png' %}" alt=""></a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blog:blogs' %}">Блог</a></li>
        </ul>
    </div>
</div>
  <div class="content">
      <div class="wrap">
          {% block content %}
          {% endblock %}
      </div>
  </div>
</body>
</html>