{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<h1>{{ title }}</h1>
{% for i in index %}

        <div class="headindex">
            <p>Добро пожаловать на сайт Федерального государственного бюджетного учреждения здравоохранения Клинической Больницы Иркутского научного центра Сибирского отделения Российской академии наук !</p>
        </div>

        <div class="text">

            <img class="image" src="{{ i.photo.url }}">


        <p>{{ i.content|striptags }}</p>
        </div>

{% endfor %}

{% endblock %}